<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
	{% load static %}
	<title>Sky Coming Soon Responsive Widget Template : W3Layouts</title>

	<!-- Meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Style -->
	<link rel="stylesheet" href="{% static 'cssbg/style.css' %}" type="text/css" media="all" />
</head>

<body>

	<!-- coming soon -->
	<section class="w3l-coming-soon-block">

		<div class="coming-section">
<!--			<div class="logo-agileits">-->
                <a href="appointment.html"><button type="button" class="btn btn-dark">back</button></a>
<!--			</div>-->
<!--			<div class="logo">-->
				<center><h1><a class="text-light bg-dark">BLOOD BANK</a></h1></center>
<!--                {% for i in messages %}-->
<!--                <h3><a class="text-light bg-dark">{{i}}</a></h3>-->
<!--                {% endfor %}-->
                <table class="table table-striped table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Blood Group</th>
                        <th>Age</th>
                        <th>Address</th>
                        <th>PH Number</th>
                    </tr>
                    {% for i in s %}
                    <tr>
                        <td>{{i.name}}</td>
                        <td>{{i.bloodgroup}}</td>
                        <td>{{i.age}}</td>
                        <td>{{i.address}}</td>
                        <td>{{i.phonenumber}}</td>
                    </tr>
                    {% endfor %}





<!--            <button class="btn btn-primary" type="button"><a href="/viwblood?name={{i.name}}"><span style="color:black;"><h1>Add Details</h1> </span></a></button>-->

                </table>
            <div class="logo">
                <button class="btn btn-primary" type="button"><a href="/viwblood?name={{r}}"><span style="color:black;"><h1>Add Details</h1> </span></a></button>
            </div>
                {% for i in messages %}
                <h3><p class="text-white bg-dark">{{i}}</h3></p>
                {% endfor %}


<!--            </div>-->
<!--                            {% if i.status %}-->
<!--                            Your Request has been <strong>Approved</strong>-->
<!--                            {% else %}-->
<!--                            Your Request is <strong>Pending/not created</strong>-->
<!--                            {% endif %}-->



<!--			</div>-->
<!--			<div class="wrapper">-->
<!--				<main class="content">-->
<!--					<div class="right">-->



<!--							<table class="table table-striped table-dark">-->
<!--                                <tr>-->
<!--                                <th>Name</th>-->
<!--                                <th>Blood Group</th>-->
<!--                                    <th>Age</th>-->
<!--                                    <th>Address</th>-->
<!--                                <th>PH Number</th>-->
<!--                                  </tr>-->

<!--                            {% for i in s %}-->
<!--                              <tr>-->
<!--                            <td>{{i.name}}</td>-->
<!--                            <td>{{i.bloodgroup}}</td>-->
<!--                                  <td>{{i.age}}</td>-->
<!--                                  <td>{{i.address}}</td>-->
<!--                            <td>{{i.phonenumber}}</td>-->
<!--                            {% if i.status %}-->
<!--                            Your Request has been <strong>Approved</strong>-->
<!--                            {% else %}-->
<!--                            Your Request is <strong>Pending/not created</strong>-->
<!--                            {% endif %}-->
<!--                                </tr>-->
<!--                            {% endfor %}-->
<!--                            <button class="btn btn-primary" type="button"><a href="viwblood"><span style="color:black;"> Add Details</span></a></button>-->
<!--						<h1>We Are Coming Very soon!</h1>-->
<!---->
<!--						<div class="subscribe-form">-->
<!--							<h4 class="update">Keep Updated</h4>-->
<!--							<form action="#" method="GET">-->
<!--								<input id="form-email" name="form-email" type="email" placeholder="Your email address.." />-->
<!--								<button type="submit" class="btn theme-submit-button">Submit</button>-->
<!--							</form>-->
<!--							<p class="subscribe"></p>-->
						</div>
					</div>
					<div class="left">

<!--						<div class="countdown">-->
<!--							<div class="countdown__days">-->
<!--								<div class="number"></div>-->
<!--								<span class>Days</span>-->
<!--							</div>-->

<!--							<div class="countdown__hours">-->
<!--								<div class="number"></div>-->
<!--								<span class>Hours</span>-->
<!--							</div>-->

<!--							<div class="countdown__minutes">-->
<!--								<div class="number"></div>-->
<!--								<span class>Minutes</span>-->
<!--							</div>-->

<!--							<div class="countdown__seconds">-->
<!--								<div class="number"></div>-->
<!--								<span class>Seconds</span>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</main>-->
<!--			</div>-->


			<!-- copyright -->
			<div class="copy-right">
<!--				<p>&copy; 2020 Sky Coming Soon. All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3Layouts</a></p>-->
			</div>
			<!-- //copyright -->
			<script>
				(() => {
					// Specify the deadline date
					const deadlineDate = new Date('November 28, 2021 23:59:59').getTime();

					// Cache all countdown boxes into consts
					const countdownDays = document.querySelector('.countdown__days .number');
					const countdownHours = document.querySelector('.countdown__hours .number');
					const countdownMinutes = document.querySelector('.countdown__minutes .number');
					const countdownSeconds = document.querySelector('.countdown__seconds .number');

					// Update the count down every 1 second (1000 milliseconds)
					setInterval(() => {
						// Get current date and time
						const currentDate = new Date().getTime();

						// Calculate the distance between current date and time and the deadline date and time
						const distance = deadlineDate - currentDate;

						// Calculations the data for remaining days, hours, minutes and seconds
						const days = Math.floor(distance / (1000 * 60 * 60 * 24));
						const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
						const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
						const seconds = Math.floor((distance % (1000 * 60)) / 1000);

						// Insert the result data into individual countdown boxes
						countdownDays.innerHTML = days;
						countdownHours.innerHTML = hours;
						countdownMinutes.innerHTML = minutes;
						countdownSeconds.innerHTML = seconds;
					}, 1000);
				})();
			</script>
		</div>
	</section>

	<!-- coming soon -->
</body>

</html>
<!--&lt;!&ndash;33333333333333333333333333333333333333333333333333333333333333333333333333333333333&ndash;&gt;-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  #
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!--<body>-->
<!--{% load static %}-->
<!--<div class="logo-agileits">-->
<!--    <a href="index.html"><button type="button" class="btn btn-dark">back</button></a>-->
<!--</div>-->
<!--<table class="table table-striped table-dark">-->
<!--    <tr>-->
<!--    <th>Name</th>-->
<!--    <th>Blood Group</th>-->
<!--        <th>Age</th>-->
<!--        <th>Address</th>-->
<!--    <th>PH Number</th>-->
<!--      </tr>-->

<!--{% for i in s %}-->
<!--  <tr>-->
<!--<td>{{i.name}}</td>-->
<!--<td>{{i.bloodgroup}}</td>-->
<!--      <td>{{i.age}}</td>-->
<!--      <td>{{i.address}}</td>-->
<!--<td>{{i.phonenumber}}</td>-->
<!--{% if i.status %}-->
<!--Your Request has been <strong>Approved</strong>-->
<!--{% else %}-->
<!--Your Request is <strong>Pending/not created</strong>-->
<!--{% endif %}-->
<!--    </tr>-->
<!--{% endfor %}-->
<!--<button class="btn btn-primary" type="button"><a href="viwblood"><span style="color:black;"> Add Details</span></a></button>-->

<!--</body>-->
<!--</html>-->