<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
	 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	{% load static %}
	<title>Custom Error Page A Flat Responsive Widget Template  :: w3layouts</title>
	<link href="{% static 'cssop/style.css' %}" rel='stylesheet' type='text/css'/>
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<link href="//fonts.googleapis.com/css?family=Ravi+Prakash" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Custom Error Page Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>
	<div class="top-bar-agile">
		<div class="logo-agileits">
			<a href="index.html"><img src="{% static 'imagesop/logo.png' %}" alt=" " /></a>
		</div>

		<div class="clear"></div>
	</div>
		<div class="content-w3">
{% for op in s %}
			<h2 style="color:red;text algn:center;">ADNUX HOSPITAL</h2>
			<center>Thrissur,(680001),04555-252322</center><br>
			<h2><a class="text-light bg-dark"style="position:relative;top:10px;right:325px;">name:{{op.name}}</a></h2><br>
			<h2><a class="text-light bg-dark" style="position:relative;top:10px;right:360px;">age:{{op.age}}</a></h2><br>
			<h2><a class="text-light bg-dark" style="position:relative;top:10px;right:195px;">phone number:{{op.phone}}</a></h2><br>
			<h2><a class="text-light bg-dark" style="position:relative;top:10px;right:260px;">op number:{{op.opnum}}</a></h2><br>
			<br>
			---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
			<center><a style="color:red;">Many are the afflictions of the righteous,but the lord delivers him out of them all.</a></center>
{% endfor %}
<!--		<div style="background-color:lightblue;height:200px;width:300px">-->
<!--			<h2 style="color:red;text algn:center;">ADNUX HOSPITAL</h2><br>-->
		</div>
	</div>
	<div class="footer-w3ls">
		<p>OP CARD</p>
<!--		<p> &copy; 2016 Custom Error Page. All Rights Reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>-->
	</div>
</body>