<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Modern Error Widget Flat Responsive Widget Template :: w3layouts</title>
<!-- for-mobile-apps -->
	{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Modern Error Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static 'csscare/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link href="{% static 'csscare/font-awesome.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- //font-awesome icons -->
<link href="//fontscare.googleapis.com/css?family=Nunito" rel="stylesheet">
<link href="//fontscare.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
<div class="logo-agileits">
	<a href="services.html"><img src="{% static 'imagesop/logo.png' %}" alt=" " /></a>
</div>
	<div class="main">
		<h1>EMERGENCY HELP</h1>
		<div class="w3layouts_main_grids">
			<div class="w3_main_grid_left">
				<div class="w3l_main_grid">
					<h3>call for ambulance</h3>
					<h2>102</h2>
					<h2>108</h2>
				</div>
				<h3>mobile icu ambulance is available</h3>
				<div class="w3ls_form">
			<div class="clear"> </div>
<!--					<form action="#" method="post">-->
<!--						<input type="text" name="Keyword" placeholder="Enter your keyword here..." required="" />-->
<!--						<input type="submit" value="Search">-->
<!--					</form>-->
				</div>
			</div>
			<div class="w3_main_grid_right w3_agileits_grid_right">
				<h3>hospital enquiry number</h3>
				<p>call:0558 230001,230002,230003</p>
				<div class="agileits_main_grid">
					<div class="agileits_main_grid_left">
						<h4></h4>
					</div>
					<div class="agileits_main_grid_right">
<!--						<ul class="agileinfo_social">-->
<!--							<li><a class="wthree_facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>-->
<!--							<li><a class="agile_twitter" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
<!--							<li><a class="w3_agile_instagram" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>-->
<!--							<li><a class="agileits_w3layouts_p" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>-->
<!--						</ul>-->
					</div>
					<div class="clear"> </div>
				</div>
			</div>
			<div class="clear"> </div>
		</div>
		<div class="agileits_copyright">
			<p> © 2016 Modern Error Widget. All Rights Reserved | Design by  <a href="http://w3layouts.com/"> W3layouts</a></p>
		</div>
	</div>
</body>
</html>