<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
	{% load static %}
	<title>Sky Coming Soon Responsive Widget Template : W3Layouts</title>

	<!-- Meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Style -->
	<link rel="stylesheet" href="{% static 'cssbg/style.css' %}" type="text/css" media="all" />
<!--	33333333333333333333-->
	 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
	<!-- coming soon -->
	<section class="w3l-coming-soon-block">
		<div class="coming-section">
<!--			<div class="logo-agileits">-->
				<a href="services.html"><button type="button" class="btn btn-dark">back</button></a>
<!--			</div>-->
			<div class="logo">
				<h1><a class="text-light bg-dark">THERAPIST</a></h1>
			</div>
			<div class="wrapper">
				<main class="content">
					<div class="right">

							    <p>
    A therapist is a person who offers any kinds of therapy. Therapists are trained professionals in the field of any types of services like psychologists, social workers, counsellors, etc. They are helpful in counselling individuals for various mental and physical issues.
    <br>
    Meaning:<br>
    Therapist refers to trained professionals engaged in providing services any kind of treatment or rehabilitation.[1]
    <br>
    Reasons:<br>
    Therapist helps in resolving below issues:[2]
    <ol>

    <li>Issues on anxiety</li>
    <li>Issues on behaviour</li>
    <li>Issues on depression</li>
    <li>Issues on managing life changes</li>
    <li>Issues on eating disorder</li>
    <li>Issues on loneliness</li>
    <li>Issues on having complexion</li>
    <li>Grieving issues</li>
    <li>Issues on self esteem</li>
    <li>Issues due to negative thinking</li>
    <li>Issues due to chronic illness</li>
    <li>Issues on getting sleep</li>
    <li>Gender based or sexuality issues</li>
    <li>Issues on Relationship</li>
    <li>Society based issues</li>
    <li>Stress based issues</li>
    <li>Alcohol addiction based issues</li>
    <li>Issues due to suicide or self harm based thoughts</li>
    <li>Trauma related issues</li>
      </ol>
    Types<br>
    Following are various types of therapists.[3][4][5]
    <br>
    <ol>
    <li>Therapists for addiction</li>
    <li>Therapists for art</li>
    <li>Therapists for children</li>
    <li>Therapists for massage</li>
    <li>Therapists for marriage and children</li>
    <li>Therapists for music</li>
    <li>Therapists for occupation</li>
    <li>Therapists for physical body</li>
    <li>Therapists for psychology</li>
    <li>Therapists for yoga</li>
        </ol>
    Psychotherapists belong to varied fields like psychologists, social workers, psychiatric nurses, and psychiatrists<br>
    Specialisation<br>
    Therapist are basically specialised in below areas:[6][4][7]<br>
    <br>
    <ol>
    <li>Disorders in behaviour</li>
    <li>Mental health of Community</li>
    <li>Schooling and career</li>
    <li>Related to rehabilitation</li>
    <li>Substance based abuse</li>
    <li>autism and/or autism awareness</li>
        </ol>
    </p>
<!--						<h1>We Are Coming Very soon!</h1>-->
<!---->
<!--						<div class="subscribe-form">-->
<!--							<h4 class="update">Keep Updated</h4>-->
<!--							<form action="#" method="GET">-->
<!--								<input id="form-email" name="form-email" type="email" placeholder="Your email address.." />-->
<!--								<button type="submit" class="btn theme-submit-button">Submit</button>-->
<!--							</form>-->
							<p class="subscribe">Enter your email address and we'll let you know as soon as it's ready</p>
						</div>
					</div>
					<div class="left">

<!--						<div class="countdown">-->
<!--							<div class="countdown__days">-->
<!--								<div class="number"></div>-->
<!--								<span class>Days</span>-->
<!--							</div>-->

<!--							<div class="countdown__hours">-->
<!--								<div class="number"></div>-->
<!--								<span class>Hours</span>-->
<!--							</div>-->

<!--							<div class="countdown__minutes">-->
<!--								<div class="number"></div>-->
<!--								<span class>Minutes</span>-->
<!--							</div>-->

<!--							<div class="countdown__seconds">-->
<!--								<div class="number"></div>-->
<!--								<span class>Seconds</span>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</main>-->
<!--			</div>-->


			<!-- copyright -->
			<div class="copy-right">
				<p>&copy; 2020 Sky Coming Soon. All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3Layouts</a></p>
			</div>
			<!-- //copyright -->
			<script>
				(() => {
					// Specify the deadline date
					const deadlineDate = new Date('November 28, 2021 23:59:59').getTime();

					// Cache all countdown boxes into consts
					const countdownDays = document.querySelector('.countdown__days .number');
					const countdownHours = document.querySelector('.countdown__hours .number');
					const countdownMinutes = document.querySelector('.countdown__minutes .number');
					const countdownSeconds = document.querySelector('.countdown__seconds .number');

					// Update the count down every 1 second (1000 milliseconds)
					setInterval(() => {
						// Get current date and time
						const currentDate = new Date().getTime();

						// Calculate the distance between current date and time and the deadline date and time
						const distance = deadlineDate - currentDate;

						// Calculations the data for remaining days, hours, minutes and seconds
						const days = Math.floor(distance / (1000 * 60 * 60 * 24));
						const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
						const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
						const seconds = Math.floor((distance % (1000 * 60)) / 1000);

						// Insert the result data into individual countdown boxes
						countdownDays.innerHTML = days;
						countdownHours.innerHTML = hours;
						countdownMinutes.innerHTML = minutes;
						countdownSeconds.innerHTML = seconds;
					}, 1000);
				})();
			</script>
		</div>
	</section>

	<!-- coming soon -->
</body>

</html>
<!--333333333333333333333333333333333333333333333333-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <title>freelancer Sign Up Form Responsive Widget Template :: W3layouts</title>
    <!--//Style-CSS -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<!--<body>-->
<!--&lt;!&ndash;<div class="logo-agileits">&ndash;&gt;-->
<!--&lt;!&ndash;    <a href="index.html"><button type="button" class="btn btn-dark">back</button></a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;    <p>&ndash;&gt;-->
<!--&lt;!&ndash;    A therapist is a person who offers any kinds of therapy. Therapists are trained professionals in the field of any types of services like psychologists, social workers, counsellors, etc. They are helpful in counselling individuals for various mental and physical issues.&ndash;&gt;-->
<!--&lt;!&ndash;    <br>&ndash;&gt;-->
<!--&lt;!&ndash;    Meaning:<br>&ndash;&gt;-->
<!--&lt;!&ndash;    Therapist refers to trained professionals engaged in providing services any kind of treatment or rehabilitation.[1]&ndash;&gt;-->
<!--&lt;!&ndash;    <br>&ndash;&gt;-->
<!--&lt;!&ndash;    Reasons:<br>&ndash;&gt;-->
<!--&lt;!&ndash;    Therapist helps in resolving below issues:[2]&ndash;&gt;-->
<!--&lt;!&ndash;    <ol>&ndash;&gt;-->

<!--&lt;!&ndash;    <li>Issues on anxiety</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>Issues on behaviour</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>Issues on depression</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>Issues on managing life changes</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>Issues on eating disorder</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>Issues on loneliness</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>Issues on having complexion</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>Grieving issues</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>Issues on self esteem</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>Issues due to negative thinking</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>Issues due to chronic illness</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>Issues on getting sleep</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>Gender based or sexuality issues</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>Issues on Relationship</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>Society based issues</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>Stress based issues</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>Alcohol addiction based issues</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>Issues due to suicide or self harm based thoughts</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>Trauma related issues</li>&ndash;&gt;-->
<!--&lt;!&ndash;      </ol>&ndash;&gt;-->
<!--&lt;!&ndash;    Types<br>&ndash;&gt;-->
<!--&lt;!&ndash;    Following are various types of therapists.[3][4][5]&ndash;&gt;-->
<!--&lt;!&ndash;    <br>&ndash;&gt;-->
<!--&lt;!&ndash;    <ol>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>Therapists for addiction</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>Therapists for art</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>Therapists for children</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>Therapists for massage</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>Therapists for marriage and children</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>Therapists for music</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>Therapists for occupation</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>Therapists for physical body</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>Therapists for psychology</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>Therapists for yoga</li>&ndash;&gt;-->
<!--&lt;!&ndash;        </ol>&ndash;&gt;-->
<!--&lt;!&ndash;    Psychotherapists belong to varied fields like psychologists, social workers, psychiatric nurses, and psychiatrists<br>&ndash;&gt;-->
<!--&lt;!&ndash;    Specialisation<br>&ndash;&gt;-->
<!--&lt;!&ndash;    Therapist are basically specialised in below areas:[6][4][7]<br>&ndash;&gt;-->
<!--&lt;!&ndash;    <br>&ndash;&gt;-->
<!--&lt;!&ndash;    <ol>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>Disorders in behaviour</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>Mental health of Community</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>Schooling and career</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>Related to rehabilitation</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>Substance based abuse</li>&ndash;&gt;-->
<!--&lt;!&ndash;    <li>autism and/or autism awareness</li>&ndash;&gt;-->
<!--&lt;!&ndash;        </ol>&ndash;&gt;-->
<!--&lt;!&ndash;    </p>&ndash;&gt;-->
<!--&lt;!&ndash;</body>&ndash;&gt;-->

<!--&lt;!&ndash;</html>&ndash;&gt;-->
<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->